################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Movie Manager/FileContentIndex/0dbcbe2f-79a1-4f3c-b1fb-d5fc116d6404.vsidx
